# https://github.com/gruntwork-io/terragrunt/blob/master/README.md

terragrunt = {
  include {
    path = "${find_in_parent_folders()}"
  }
}

# instance_type = "t2.micro"


# key_name = "aws_ec2_key_pair_name"


# key_path = "../../../aws_ec2_key_pair_name.pem"
