# https://github.com/gruntwork-io/terragrunt/blob/master/README.md

terragrunt = {
  include {
    path = "${find_in_parent_folders()}"
  }

  dependencies {
    paths = [
      "../s3",
      "../vpc",
    ]
  }
}

# instance_type = "t2.micro"


# domain_name = "domain.tld"


# domain_netbios_name = "DOMAIN"
