# https://github.com/gruntwork-io/terragrunt/blob/master/README.md

terragrunt = {
  include {
    path = "${find_in_parent_folders()}"
  }
}

# aws_profile = "aws_iam_access_key_profile"


# aws_region = "us-west-2"


# instance_type = "t2.micro"


# key_name = "aws_s3_ec2_key_name"


# key_path = "../../../aws_ec2_key_pair_name.pem"


# vpc_id = "vpc-12345678"
